// SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
//
// SPDX-License-Identifier: AGPL-3.0-or-later

.box_inputs {
}

.box_inputs__input_label {
  display: none;

  margin-bottom: 1rem;
  @media (min-width: 992px) {
    display: block;
  }
}

.box_input__input {
  width: 100%;

  @media (min-width: 992px) {
    width: 50%;
  }
}
