// SPDX-FileCopyrightText: 2024 NOI Techpark <digital@noi.bz.it>
//
// SPDX-License-Identifier: AGPL-3.0-or-later

@import 'colors';

.btn-grey {
  background: $black-50;
  border-radius: 8px;
  color: $black-400;
  border: 0;
  height: 40px;
  display: inline-flex;
  align-items: center;
}
