@import '../../../scss/colors';

.button {
  font-size: 16px;
  padding: 10px 32px;
  background-color: $green;
  color: $white;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $white;
  }

  &.disabled {
    background-color: $black-100;
    color: $black-200;
  }

  &.grey {
    background-color: $black-100;
    color: $black-400;
  }
}
