.route_list__body {
  max-height: 500px;
  overflow-y: scroll;
}

.route_list__body__list_item {
}

.route_list__body__list_item__hour_container {
  // overflow: hidden;
  padding-right: 4px;
}
.route_list__body__list_item__dotted_line {
  width: 2px;
  height: 100%;
  border-left: 2px dotted $black-200;
  margin: 0 auto;
}
