.options_panel {
  position: absolute;
  z-index: 10;
  padding: 16px;

  background-color: #fff;
  width: 100%;

  box-shadow: 0px 3px 6px rgba(51, 51, 51, 0.1), 0px 10px 20px rgba(51, 51, 51, 0.15);

  &.closed {
    display: none;
  }

  p:first-child {
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 10px;
  }

  p.category {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: $black-400;
  }

  .filter_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter_element_container {
    width: 50%;
    padding: 10px 0px;
  }

  .filter_element {
    cursor: pointer;
    background: $black-10;
    color: $black-400;
    border-radius: 100px;
    padding: 8px;

    &.selected {
      background: #fde1c9;
      color: $orange;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    .button {
      flex-grow: inherit;
      margin-left: 10px;
    }
  }
}
