@import '../../scss/colors';

@import './components/fromTo.scss';

.search {
  position: absolute;
  background-color: $white;
  top: 16px;
  left: 16px;
  width: 400px;
  z-index: 400;
  padding: 1rem;

  .search__footer {
    input[type='date'] {
      height: 40px;
      border: 1px solid $black-300;
      margin-left: 0.5rem;
      padding: 0 8px;
      &:focus {
        outline: none;
      }
    }
  }
}
