@import '../../scss/colors';

@import './components/fromTo.scss';

.search {
  position: absolute;
  top: 24px;
  left: 8px;
  z-index: 402;
  width: calc(100% - 16px);

  @media (min-width: 992px) {
    top: 16px;
    left: 16px;
    width: 460px;
  }

  .search__search_container {
    background-color: $white;
    padding: 0.5rem;
    padding-bottom: 0.7rem;
    margin-bottom: 1rem;

    @media (min-width: 992px) {
      padding: 1rem;
    }
  }

  .search__footer {
    &.full_width {
      width: 100%;
    }

    .departure_time_picker__inputs_container {
      width: 100%;
    }

    .picker.borderless {
      width: 100%;
    }
    .picker {
      &:nth-child(2) {
        width: 30%;
        @media (min-width: 992px) {
          width: auto;
          margin-right: 8px;
        }
      }
    }

    .departure_time_picker__input_date {
      width: 68%;
      @media (min-width: 992px) {
        width: auto;
      }
      input[type='date'] {
        height: 42px;
        border: 1px solid $black-300;
        padding: 0 8px;
        font-size: 14px;
        width: 100%;
        border-radius: 0;
        &:focus {
          outline: none;
        }
        @media (min-width: 992px) {
          width: 196px;
        }
      }
    }
  }
}

.search__results {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100%;

  transform: translate(0px, 0px);
  transition: transform 0.25s ease-in-out;

  .state-start & {
    transform: translate(0px, 100%);
  }

  .search__results__tabs {
    text-align: center;
    border-bottom: 1px solid #f0f1f1;

    .search__results__tab {
      width: 100%;
      padding: 2px 0;
      font-size: 14px;
      line-height: 24px;
      p {
        span {
          color: $black-300;
          display: block;
        }
      }
      &:hover {
        cursor: pointer;
      }
      &.active {
        border-bottom: 4px solid $green;
      }
    }
  }

  .search__results__list_container {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;
  }

  .search__results__listElement {
    cursor: pointer;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 1px solid $black-100;
    padding: 0.5rem;

    @media (min-width: 992px) {
      padding: 1rem;
    }

    &:hover {
      background-color: $black-100;
    }

    .search__results__listElement__details {
      display: flex;
      flex: 1;
      flex-wrap: nowrap;
      flex-direction: column;
      padding-right: 10px;

      .search__results__listElement__badges {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: start;
      }

      .search__results__listElement__times {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .search__results__listElement__range {
        font-size: 13px;
        line-height: 24px;
        margin-top: 0.5rem;
        @media (min-width: 992px) {
          font-size: 18px;
        }
      }

      .search__results__listElement__transports {
        margin-top: 0.25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .search__results__listElement__transports__half {
          margin-top: 0.25rem;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }

        .search__results__listElement__transports__item {
          display: inline-block;
          margin-bottom: 2px;
          padding: 2px 0px;
          height: 30px;

          img {
            width: 20px;
          }
          span {
            font-size: 14px;
            line-height: 24px;
            color: $black-300;
            position: relative;
            top: 1px;
          }
        }
        .search__results__listElement__transports__item--with-border {
          border: 1px solid $black-300;
          border-radius: 4px;
          padding: 2px;
        }
      }

      .search__results__listElement__time {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding: 0 0.5rem;
        p {
          font-size: 12px;
          @media (min-width: 992px) {
            font-size: 16px;
          }
        }
        .search__results__listElement__time__price {
          color: $black-300;
          font-size: 10px;
          @media (min-width: 992px) {
            font-size: 14px;
          }
        }
      }
      .search__results__listElement__chevron_container {
        // padding: 0 0.5rem;
      }
    }
  }
}
