.language_flags {
  $distance: 16px;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: $distance;
  right: $distance;

  @media (max-width: 992px) {
    bottom: $distance;
    top: unset;
    right: unset;
    left: $distance;
  }

  z-index: 401;

  img {
    cursor: pointer;
    margin: 4px;
    opacity: 0.4;

    &.active {
      opacity: 1;
    }
  }
}
