@import 'colors';
@import 'mixins';
@import './typography.scss';
@import './bts-utilities.scss';
// Components
@import '../components/search/search.scss';
@import '../components/details/details.scss';
@import '../components/mapControls/map-controls.scss';
// Generics
@import '../components/generics/buttons/buttons.scss';
@import '../components/generics/picker/picker.scss';
@import '../components/generics/badge/badge.scss';
@import '../components/generics/tooltip/tooltip.scss';

.routeplanner-widget {
  position: relative;
  font-family: sans-serif;
  color: $black;
  width: 100%;

  @media (max-width: 992px) {
    &.MODE__mobile__open {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: scroll;
      .MODE__mobile__expand_button_container {
        position: fixed;
        right: 15px;
        bottom: 15px;
      }
    }
    &.MODE__mobile__closed {
      width: calc(100vw - 30px);
      margin: 0 auto;
      .MODE__mobile__closed__container {
        height: 70vh;
        overflow: hidden;
        border: 1px solid $black-200;
      }
      .MODE__mobile__expand_button_container {
        position: absolute;
        right: 15px;
        bottom: 15px;
      }
    }
  }
}

#map {
  @media (min-width: 320px) {
    width: 100%;
    height: 100vh;
    &.closed {
      height: 260px;
    }
  }
  @media (min-width: 992px) {
    height: 700px;
    &.closed {
      height: 700px;
    }
  }
}

.utils--cursor-pointer {
  cursor: pointer;
}
