@import 'colors';
@import 'mixins';
@import './typography.scss';
@import './bts-utilities.scss';

@import '../components/search/search.scss';
@import '../components/generics/buttons/buttons.scss';
@import '../components/generics/picker/picker.scss';
// @import './components/header.scss';
// @import './components/box_parameters.scss';
// @import './components/box_inputs.scss';
// @import './components/first_screen_footer.scss';
// @import './components/results.scss';
// @import './components/details_sidebar.scss';
// @import './components/details__map.scss';
// @import './components/header_screen_results.scss';
// @import './components/header_screen_details.scss';
// @import '../components/routeList/route_list.scss';

.routeplanner-widget {
  position: relative;
  font-family: sans-serif;
  color: $black;
  width: 100%;

  @media (max-width: 992px) {
    .MODE__mobile__open {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: scroll;
      .MODE__mobile__expand_button_container {
        position: fixed;
        right: 15px;
        bottom: 15px;
      }
    }
    .MODE__mobile__closed {
      width: calc(100vw - 30px);
      margin: 0 auto;
      .MODE__mobile__closed__container {
        height: 70vh;
        overflow: hidden;
        border: 1px solid $black-200;
      }
      .MODE__mobile__expand_button_container {
        position: absolute;
        right: 15px;
        bottom: 15px;
      }
    }
  }
}

#map {
  height: 700px;
}

.utils--cursor-pointer {
  cursor: pointer;
}

// textarea {
//   border: 1px solid $black-300;
//   padding: 8px;
// }
// textarea:focus {
//   outline: none;
// }

// .MODE__desktop {
// }
