.details {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 460px;
  z-index: 400;
  bottom: 16px;

  .details__background {
    background-color: $white;
    height: 100%;
    position: relative;
  }

  .details__back_section {
    height: 6%;
    cursor: pointer;

    .details__back_section__content {
      padding: 0 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      img {
        transform: rotate(180deg);
      }
      p {
        margin-left: 0.5rem;
      }
    }
  }

  .details__header_section {
    height: 28%;

    .details__header_section__content {
      padding: 0 1rem;

      .details__header_section__timings {
        font-size: 30px;
        line-height: 40px;
      }

      .details__header_section__description {
        font-size: 14px;
        line-height: 24px;
        color: $black-300;
        display: flex;
        align-items: center;
      }
    }
    .details__header_section__show_others {
      a {
        text-decoration: underline;
        font-size: 18px;
        line-height: 24px;
        color: $blue;
      }
    }
  }

  .details__body_section {
    height: 56%;
    .details__body_section__content {
      border-top: 1px solid $black-100;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;

      .details__body_section__content__element {
        &:first-child {
          padding-top: 1rem;
        }
      }

      .details__body_section__content__time {
        text-align: center;
        padding-left: 16px;
        font-size: 14px;
        line-height: 24px;
        color: $black-300;
      }

      .details__body_section__content__place {
        font-size: 14px;
        line-height: 24px;
      }

      .details__body_section__content__middle {
        flex-wrap: wrap;
      }

      .details__body_section__content__vertical_dots {
        height: 100%;
        overflow: hidden;
        position: relative;
        &.first_element {
          height: calc(100% - 32px);
        }
        img {
          width: 4px;
          position: absolute;
        }
      }
      .details__body_section__content__description {
        margin: 1.5rem 0;
        font-size: 14px;
        line-height: 16px;
        color: $black-300;
        display: flex;
        align-items: center;
        img {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .details__footer_section {
    border-top: 1px solid $black-100;
    height: 10%;
    display: flex;
    justify-content: center;
    position: relative;
    .button {
      font-size: 14px;
      padding: 10px 28px;
      margin: 0 5px;
    }
  }
}
