.details {
  position: absolute;
  top: 24px;
  left: 16px;
  bottom: 0;
  z-index: 402;
  width: calc(100% - 32px);
  @media (min-width: 992px) {
    width: 460px;
    bottom: 16px;
  }

  .mobile & {
    $draggable-height: 40px;
    top: calc(100% - #{$draggable-height});

    box-shadow: 0px 3px 6px rgba(51, 51, 51, 0.1), 0px 10px 20px rgba(51, 51, 51, 0.15);

    transition: top 0.25s ease-in-out;

    &.open {
      top: 25%;
      & .arrow {
        transform: rotate(180deg);
      }
    }

    .draggable {
      min-height: $draggable-height;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .details__background {
    background-color: $white;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .details__back_section {
    cursor: pointer;

    .details__back_section__content {
      padding: 0 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      img {
        transform: rotate(180deg);
      }
      p {
        margin-left: 0.5rem;
        font-size: 12px;
        line-height: 18px;
        @media (min-width: 992px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  .details__header_section {
    flex: none;
    .details__header_section__content {
      padding: 0 1rem;
      display: flex;
      flex-direction: row;

      .details__header_section__timings {
        margin: 10px;
        .details__header_section__timings__label {
          font-size: 13px;
          text-transform: uppercase;
          color: $gray-500;
        }

        .details__header_section__timings__time {
          font-size: 30px;
          color: $black;
        }
      }

      .details__header_section__description {
        font-size: 14px;
        line-height: 24px;
        color: $black-300;
        display: flex;
        align-items: center;
      }
    }
    .details__header_section__tags {
      display: flex;
      justify-content: space-around;
    }
    .details__header_section__tags__tag {
      display: flex;
      margin: 5px 0px;
      p {
        margin-left: 8px;
      }
    }
    .details__header_section__show_others {
      a {
        text-decoration: underline;
        font-size: 14px;
        line-height: 18px;
        color: $blue;
        @media (min-width: 992px) {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

  .details__body_section {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0px;
    .details__body_section__content {
      border-top: 1px solid $black-100;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;

      .details__body__line_separator {
        position: relative;
        width: 2px;
        height: 100%;
      }

      .details__body_section__content__element {
        &:first-child {
          padding-top: 1rem;
        }
      }

      .details__body_section__content__time {
        text-align: center;
        padding-left: 16px;
        font-size: 14px;
        line-height: 24px;
        color: $black-300;
      }

      .details__body_section__content__place {
        font-size: 14px;
        line-height: 24px;
      }

      .details__body_section__content__middle {
        flex-wrap: wrap;
      }

      .details__body_section__content__vertical_dots {
        height: 100%;
        overflow: hidden;
        position: relative;
        &.first_element {
          height: calc(100% - 32px);
        }
        img {
          width: 4px;
          position: absolute;
        }
      }
      .details__body_section__content__description {
        margin: 1.5rem 0;
        font-size: 14px;
        line-height: 24px;
        color: $black-300;
        display: flex;
        align-items: center;
        img {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .details__footer_section {
    border-top: 1px solid $black-100;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .button {
      font-size: 12px;
      margin: 0 4px;
      padding: 8px 6px;
      @media (min-width: 768px) {
        font-size: 14px;
        padding: 8px 16px;
      }
      @media (min-width: 992px) {
        font-size: 14px;
        padding: 10px 24px;
        margin: 0 6px;
      }
    }
  }

  .details__car_step {
    display: flex;
    flex-direction: row;
    padding: 16px;
    .details__car_step__icon {
      width: 48px;
      display: flex;
      justify-content: center;
    }
    .details__car_step__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      .details__car_step__content__row {
        display: flex;
        flex-direction: row;
        & > * {
          margin: 0px 8px;
        }

        .details__car_step__content__description {
          flex: 1;
          font-size: 14px;
          line-height: 24px;
          color: #000000;
          .length {
            font-weight: bolder;
          }
          // element returned by the api
          .sign {
            word-break: break-all;
          }
        }
        .details__car_step__content__duration {
          min-width: 50px;
          font-size: 14px;
          line-height: 24px;
          color: #000000;
          text-align: right;
        }
      }
    }
  }
}
